/* Fonts styles start */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/Gilroy-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Gilroy-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/Gilroy-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Gilroy-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Gilroy-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/Chronicle\ Display\ Semibold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Chronicle\ Display\ Semibold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/Chronicle\ Display\ Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Chronicle\ Display\ Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* Fonts styles end */

  /* Variables */

  :root {
    --dark-green: #0B1D26;
    --dark-green-rgb: 11,29,38;
    --light-yellow: #FBD784;
    --white: #ffffff;
    --dark-yellow: #725614;
  }

  * {
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Gilroy', sans-serif;
      background-color: var(--dark-green);
      background-image: url(../img/bg/bg-min.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
  }

  a {
      text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  ul, li {

    margin: 0;
    
    padding: 0;
    
    }

    h1, h2, h3, h4, p {
        margin: 0;
    }

    .container-header {
      max-width: 1790px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .container {
      max-width: 1492px;
      margin: 0 auto;
      padding: 0 15px;
    }

    .no-scroll {
      overflow-y: hidden;
      position: fixed;
    }

    /* Header styles start */

.header {
    padding-top: 64px;
    padding-bottom: 843px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 195px;
}

.logo {
  transform: scale(1);
  transition: .2s ease-in-out transform;
}

.logo:active {
  transform: scale(0.7);
}

.nav-block__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-block__item:not(:last-child) {
    margin-right: 40px;
}

.nav-block__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    transition: .3s ease-in-out color, .3s ease-in-out text-shadow;
}

.nav-block__link:hover {
  color: var(--light-yellow);
  text-shadow: 0 0 10px var(--white);
}

.account {
    position: relative;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: var(--white);
    padding-left: 32px;
    transition: .3s ease-in-out color, .3s ease-in-out text-shadow;
    cursor: pointer;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/account-min.svg);
  background-repeat: no-repeat;
}

.account:hover {
  color: var(--light-yellow);
  text-shadow: 0 0 10px var(--white);
}

.header-text {
    max-width: 950px;
    margin: 0 auto;
    /*transition: transform .9s cubic-bezier(0.860, 0.370, 0.610, 1.650);*/
}

/*.header-text:hover {
  transform: translateY(-5%);
  cursor: default;
}*/

.header-text__cat {
    display: block;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--light-yellow);
    position: relative;
    padding-left: 104px;
    margin-bottom: 25px;
    z-index: -2;
}

.header-text__cat::before {
    display: inherit;
    content: '';
    position: absolute;
    width: 72px;
    height: 2px;
    left: 0;
	  top: calc(50% - 1px);
	  right: auto;
	  bottom: auto;
    background-color: var(--light-yellow);
}

.header-text__title {
    max-width: 950px;
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 39px;
}

.header-text__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  padding-right: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in-out color, .3s ease-in-out text-shadow;
  z-index: -2;
}

.header-text__link::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 24px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url(../img/icons/arrow-down-min.svg);
}

.header-text__link:hover {
  color: var(--dark-yellow);
  text-shadow: 0 0 10px var(--white);
}


    /* --- Mobile styles start --- */


    .nav-btn {
      position: relative;
      z-index: 9;
      display: none;
      height: 25px;
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
      }
    
        .nav-btn__icon {
      display: block;
      position: relative;
      width: 42px;
      height: 5px; 
      background-color: var(--white);
      border: none;
      }
    
        .nav-btn__icon::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 5px; 
      background-color: var(--white);
      left: 0;
      top: -10px;
      }
    
        .nav-btn__icon::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 5px; 
      background-color: var(--white);
      left: 0;
      bottom: -10px;
      }

      .nav-btn--close .nav-btn__icon {
        background-color: transparent;
      }

      .nav-btn--close .nav-btn__icon::before {
        transform: rotate(45deg);
        top: 0;
      }

      .nav-btn--close .nav-btn__icon::after {
        transform: rotate(-45deg);
        bottom: 0;
      }

      .mobile-nav {
        display: none;
      }

      .mobile-nav--active {
        /*display: flex;*/
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        background-color: rgba(var(--dark-green-rgb), .9);
        padding: 70px 70px 50px 30px;
        z-index: 8;
      }

      .mobile-nav .nav,
      .mobile-nav .account {
        display: none;
      }

      .mobile-nav .account {
        font-size: 20px;
        padding-left: 56px;
      }

      .mobile-nav .account::before {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .mobile-nav .nav-block__list {
        flex-direction: column;
        align-items: stretch;
      }

      .mobile-nav .nav-block__item {
        margin: 0;
      }

      .mobile-nav .nav-block__item:not(:last-child) {
        margin-bottom: 25px;
      }
    
        /* --- Mobile styles end --- */


/* Header styles start */

/* Main styles start */

.main {
  padding-bottom: 202px;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article:not(:last-child) {
  margin-bottom: 196px;
}

.article-text {
  padding-left: 150px;
  margin-right: 114px;
  position: relative;
  transform: scale(1);
  transition: .5s ease-in-out transform;
}

.article-text {
  padding-left: 150px;
  margin-right: 114px;
  position: relative;
  transform: scale(1);
  transition: .5s ease-in-out transform;
}

.article-text:nth-child(2n+2) {
  margin-left: 114px;
}

.article-text:hover {
  transform: scale(1.1);
}

.article-text::before {
  position: absolute;
  left: 0;
  top: -103px;
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: var(--white);
  opacity: 0.1;
}

.article-text__wrapper {
  max-width: 632px;
  position: relative;
}

.article-text__cat {
  display: inline-block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--light-yellow);
  position: relative;
  padding-left: 95px;
  margin-bottom: 25px;
}

.article-text__cat::before {
  display: inherit;
  content: '';
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  right: auto;
  bottom: auto;
  background-color: var(--light-yellow);
}



.article-text__title-link::before {
  position: absolute;
  content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  margin: 0;
}


.article-text__title {
  font-family: 'Chronicle Display';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: var(--white);
  max-width: 555px;
  margin-bottom: 30px;
}

.article-text__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  margin-bottom: 27px;
}

.article-text__link {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-yellow);
  padding-right: 41px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .5s ease-in-out transform, .5s ease-in-out text-shadow;
  z-index: 5;
}

.article-text__link::after {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url(../img/icons/arrow-right-min.svg);
}

.article-text__link:hover {
  transform: translateX(50px);
  text-shadow: 2px 2px 15px var(--white);
}

/*.article__02 .article-text {
  margin-left: 114px;
}*/

/* Footer styles start*/

.footer {
  padding-bottom: 120px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info__logo {
  margin-bottom: 29px;
}


.footer-info__text {
  margin-bottom: 122px;
  max-width: 303px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
}

.footer-info__copy {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  opacity: 0.5;
}

.footer-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-nav:not(:last-child) {
  margin-right: 212px;
}

.footer-nav__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--light-yellow);
  margin-bottom: 24px;
  cursor: pointer;
  transition: .3s ease-in-out text-shadow;
}

.footer-nav__title:hover {
  text-shadow: 1px 1px 15px var(--white);
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  text-transform: capitalize;
  transition: .3s ease-in-out text-shadow, .3s ease-in-out color;
}

.footer-nav__link:hover {
  color: var(--light-yellow);
  text-shadow: 0 0 5px var(--white);
}

